@model WebApplication3.Models.Quantity

@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<form action="/Products/Search" method="post">
    <div class="form-horizontal">
        <h4>Quantity</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Kerko me Barcode</label>
            <div class="col-md-10">
                <input type="text" name="bar" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kerko" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
