
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="header">
        <div class="row">
            <div class="col-2">
                <h1>Give Your Workout<br> A New Style</h1>
                <p>
                    Success isn't always about greatness. It's about
                    consistency. Consistent<br> hard work gains success. Greatness
                    will come,
                </p>
                <a href="" class="btn">Explore Now &#8594;</a>
            </div>
            <div class="col-2">
                <img src="~/images/image1.png">
            </div>
        </div>
    </div>


<!----- featured categories ----->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="/images/category-1.jpg">
            </div>
            <div class="col-3">
                <img src="/images/category-2.jpg">
            </div>
            <div class="col-3">
                <img src="/images/category-3.jpg">
            </div>
        </div>
    </div>

</div>

<!----- featured products ---->
<div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <a href="~/Content/product-details.html"><img src="~/images/product-1.jpg"></a>
            <a href="~/Content/product-details.html"><h4>Red Printed T-Shirt</h4></a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€50.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-2.jpg">
            <h4>Black Sneakers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€40.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-3.jpg">
            <h4>Grey Jeans</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>€60.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-4.jpg">
            <h4>Blue T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€35.00</p>
        </div>
    </div>
    <h2 class="title">Latest Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="~/images/product-5.jpg">
            <h4>White Sneakers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€65.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-6.jpg">
            <h4>Black Puma T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€40.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-7.jpg">
            <h4>Socks</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>€15.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-8.jpg">
            <h4>Black Watch Fosil</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€89.00</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="~/images/product-9.jpg">
            <h4>Black Watch RDA</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€75.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-10.jpg">
            <h4>Black Sneacker</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€84.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-11.jpg">
            <h4>Grey Sneackers</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>€69.00</p>
        </div>
        <div class="col-4">
            <img src="~/images/product-12.jpg">
            <h4>Bottom Tracksuit </h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>€75.00</p>
        </div>
    </div>
</div>
<!------- Offer ------>
<div class="offer">
    <div class="small-container">
        <div class="row">
            <div class="col-2">
                <img src="~/images/exclusive.png" class="offer-img">
            </div>
            <div class="col-2">
                <p>Exclusively Available on RedStore</p>
                <h1>Smart Band 4</h1>
                <small>
                    The Mi Smart Band 4 featuresa 39.9% larger(than Mi Band 3)
                    AMOLED color full-touch display with adjustable brightness,so everthing is clear as can be
                </small>
            </div>
            <a href="" class="btn">Buy Now &#8594;</a>
        </div>
    </div>
</div>


<!---- testimonial ---->
<div class="testimonial">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/images/user-1.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/images/user-2.png">
                <h3>Mike Smith</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img src="~/images/user-3.png">
                <h3>Mabel Joe</h3>
            </div>
        </div>
    </div>
</div>

<!--------- brands ------------>
<!-------------- footer ------->
